AWS_BEARER_TOKEN_BEDROCK=ABSK......
MODEL_REGION=us-east-1
NOVA_ACT_API=fd01 ....
AWS_PROFILE=local-iam
NOVA_ACT_WORKFLOW_NAME=aihireai-act
NOVA_ACT_WORKFLOW_ARN=arn:aws:nova-act:us-east-1:..........:workflow-definition/aihireai-act
NOVA_ACT_MODEL_ID=nova-act-preview
S3_BUCKET=aihire-stephen
USE_REAL_NOVA_ACT=true
BEDROCK_MODEL_ID=amazon.nova-lite-v1:0
export USE_REAL_BEDROCK=true


# Make sure a browser window actually shows
NOVA_ACT_HEADLESS=0

# Optional but useful for seeing what it’s doing
NOVA_ACT_DEBUG_LOGS=1

# NOVA_ACT_BROWSER_ARGS="--remote-debugging-port=9222"
# NOVA_ACT_BROWSER_ARGS="--remote-debugging-port=9222 --no-first-run --no-default-browser-check"
# NOVA_ACT_HEADLESS=false

# NOVA_ACT_PREFER_CHROME=1
# NOVA_ACT_CHROME_PATH=/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome